$color-text: #211B42;
$color-text-hover: #474262;

$color-text-active: #E5006D;

$color-left-nav-text: #211B42;
$color-left-nav-text-hover: #474262;

$color-button-ghost-text: #333;

$color-primary-700: #211B42;
$color-primary-800: #474262;

$clr-global-font-color: #211B42;
$clr-global-font-color-hover: #474262;

$color-chip-warning-border: #fff4a0;
$color-chip-warning-text: #a28f00;
$color-chip-warning-bg: #fff8c7;
$color-chip-warning-bg-hover: #fdf4aa;
$color-chip-success-border: #c6ffc6;
$color-chip-success-text: #3aaa35;
$color-chip-success-bg: #ebf7eb;
$color-chip-success-bg-hover: #d2ffd2;
$color-chip-error-border: #ffd8dc;
$color-chip-error-text: #ff3c4f;
$color-chip-error-bg: #ffe9eb;
$color-chip-error-bg-hover: #ffdcde;

$clr-link-visited-color-hover: #474262;

$clr-dropdown-item-color: #211B42;